include src/pug/libs/_libs

doctype html
html(lang='en')

	include src/pug/layouts/_head

	body(class="d-flex flex-column min-vh-100")
		include src/pug/layouts/_header

		include src/pug/content/_index

		include src/pug/layouts/_footer
