include src/pug/libs/_libs

doctype html
html(lang='en')

    include src/pug/_head

    body
        header
            h1 Title
        main
            section
                h2 Mai11n
                .block
                +jpeg('image')
                +svg('enter')
                .block3 BLOCK13
                .block2
                    h2 block2
                    p Lorem ipsum dolor sit amet.
                    strong strong
                    p   Lorem 22

        include src/pug/_footer
