form(class="rss-form text-body" name="form-search")
	div(class="row")
		div(class="col")
			div(class="form-floating")
				input(id="url-input" class="form-control w-100" name="url" autofocus required aria-label="url" placeholder="ссылка RSS")
				label(class="url-input")
					| Ссылка RSS

		div(class="col-auto")
			button(class="h-100 btn btn-lg btn-primary px-sm-5" type="submit" aria-label="add" id="submit")
				| Добавить
