div(class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true")
	div(class="modal-dialog" role="document")
		div(class="modal-content")
			div(class="modal-header")
				h5(class="modal-title")
				button(type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close")
			div(class="modal-body text-break")
			div(class="modal-footer")
				a(class="btn btn-primary full-article" href="#" role="button" target="_blank" rel="noopener noreferrer")
					| Читать полностью
				button(type="button" class="btn btn-secondary" data-bs-dismiss="modal")
					| Закрыть
