footer(class="footer border-top py-3 mt-5 bg-light")
	div(class="container-xl")
		span(class="text-center display-block")
			| created by
			a(href="https://ru.hexlet.io/professions/frontend/projects/11" target="_blank" class="padding-l-5")
				| Hexlet

include ../components/_modal
