<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RSS агрегатор</title>

    <% for (var index in htmlWebpackPlugin.files.css) { %>
    <link rel="prefetch" href="<%= htmlWebpackPlugin.files.css %>" as="style">
    <% } %>

    <% for (var index in htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.css %>" as="style">
    <% } %>

</head>
<body>

<h1>hello world111</h1>
<a href="#">YANDEX.RU111</a>

<footer>Footer111</footer>

</body>
</html>
